<html>
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="form.js"></script>
  <link rel="stylesheet" href="style.css">
</head>
<body>
<ul>
  <% products.forEach(function(product){ %>
  <!--<li><a onclick="order('<%=product._id%>')" href="#" xhref="order/<%=product.id%>"><%=product.name%></a> - €<%=product.EUR_price%></li>-->
  <li><a href="user/<%=product.id%>"><%=product.name%></a> - €<%=product.EUR_price%> (ordered <%=product.orders_counter%> times)</li>
  <% }); %>
</ul>
</body>
</html>